# Node.js dependencies
node_modules/
npm-debug.log*

# Build output
dist/
public/

# Editor/IDE files
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Database
database/
*.sqlite

# Cache
dump.rdb

# env
.env

# husky
.husky